.about-container{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}

.about{
    border: 1px black solid;
    border-radius: 15px;
    width: 80%;
    padding: 1rem;
    font-size: 1.5rem;
}