.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  padding: 2rem;
  margin-top: 12rem;
  z-index: 2;
}

.hero-title {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  font-weight: 900;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  color: cornsilk;
  background-clip: text;
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  max-width: 48rem;
  margin: 0 auto 3rem auto;
  color: #fff8dc;
  animation-delay: 200ms;
}

.navbar {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  z-index: 3;
}

.hero-cta {
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translateX(-50%);
  z-index: 4;
}

.cta-button{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.cta-button h2{
  font-size: 20px;
  font-weight: 200;
  color: #fff8dc;
}