.service-wrapper {
  position: relative;
}

.service-wrapper::selection {
  background: rgb(255, 32, 32);
  color: #000;
}

.service-hero {
  position: relative;
  overflow: hidden;
}

.service-hero-content {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  height: auto;
}

.service-title {
  font-size: 6rem;
  font-family: monospace;
  padding: 5rem 1rem 0.5rem 5rem;
  margin: 4rem 0rem 1rem 0rem;
}

.service-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 10%;
  font-size: 1.5rem;
  font-family: monospace;
  padding: 0.8rem;
  border: 2px solid #000;
  border-radius: 25px;
  margin: 1rem 1rem 3rem 6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-contact-link:hover {
  background-color: #252525;
  color: aliceblue;
  border: 2px solid #343434;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.service-team {
  display: flex;
  flex-direction: row;
  padding: 5rem 0rem;
  margin: 5rem 1rem;
}

.service-img {
  border-radius: 5%;
  margin: 1rem 1rem 1rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 850;
  height: 550;
}

.service-team-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-family: monospace;
  line-height: 1;
  letter-spacing: -0.1;
  width: 25%;
  height: auto;
  padding: 1rem 0rem 0rem 1rem;
  margin: 1rem 0 rem 0rem 1rem;
}

.service-contact-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.service-contact-heading {
  font-size: 6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 0rem 0rem;
  margin: 0rem 2rem 0rem 0rem;
}

.service-contact-arrow {
  width: 6.5rem;
  height: 6.5rem;
  flex-shrink: 0;
}

.service-hero,
.service-main,
.service-team,
.service-contact-wrapper {
  position: relative;
  z-index: 5;
}


/* 481px – 767px (Large phones) */
@media (min-width: 481px) and (max-width: 767px) {
  .service-wrapper {
    height: 20vh;
  }

  .service-hero-content{
    min-height: auto;
    height: 100vh;
  }

  .service-title {
    font-size: 3.2rem;
    padding: 2.5rem 1.5rem;
    text-align: center;
    margin: 8rem 1rem 0rem 1rem;
  }

  .service-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem 1rem 1rem;
  }

  .service-img {
    width: 550;
    height: 330;
    margin: 0;
    padding: 0;
  }

  .service-contact-link {
    width: 80%;
    margin: 2rem auto;
    font-size: 1.2rem;
    /* margin: 0 2rem; */
  }

  .service-team-text {
    font-size: 1.6rem;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
  }

  .service-contact-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .service-contact-heading {
    font-size: 3.3rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .service-contact-arrow {
    width: 3.4rem;
    height: 3.4rem;
  }
}

/* 360px – 480px (Small phones) */
@media (min-width: 360px) and (max-width: 480px) {
  .service-wrapper {
    height: 20vh;
  }

  .service-hero-content{
    min-height: 75vh;
  }

  .service-title {
    font-size: 2.8rem;
    padding: 2rem 1rem;
    margin: 8rem 2rem 0rem 1rem;
  }

  .service-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem 1rem 1rem;
  }

  .service-img {
    width: 320;
    height: 180;
    margin: 0;
    padding: 0;
  }

  .service-contact-link {
    width: 60%;
    font-size: 1.2rem;
    margin: 0 2rem;
  }

  .service-team-text {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
  }

  .service-contact-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .service-contact-heading {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .service-contact-arrow {
    width: 2.3rem;
    height: 2.3rem;
  }
}
