.service-wrapper::selection{
    background: rgb(255, 32, 32);
    color: #000;
}

.service-hero-content{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    height: auto;
}

.service-title{
font-size: 6rem;
font-family: monospace;
padding: 5rem 1rem 0.5rem 5rem;
margin: 4rem 0rem 1rem 0rem;
}

.service-contact-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: 10%;
    font-size: 1.5rem;
    font-family: monospace;
    padding: 0.8rem;
    border: 2px solid #000;
    border-radius: 25px;
    margin: 1rem 1rem 3rem 6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-contact-link:hover{
    background-color: #252525;
    color: aliceblue;
    border: 2px solid #343434;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.service-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.service-team{
    display: flex;
    flex-direction: row;
    padding: 5rem 0rem;
    margin: 5rem 1rem;
}

.service-img{
    border-radius: 5%;
    margin: 1rem 1rem 1rem 5rem;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-team-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-family: monospace;
    line-height: 1;
    letter-spacing: -0.1;
    width: 25%;
    height: auto;
    padding: 1rem 0rem 0rem 1rem;
    margin: 1rem 0 rem 0rem 1rem;
}

.service-contact-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.service-contact-heading{
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0rem 0rem;
    margin: 0rem 2rem 0rem 0rem;
}